.details-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.details-card{
    width: 560px;
}

.details-img {
    max-width: 100%;
}

.map-card{
    max-width: 1130px;
    margin-left: auto;
    margin-right: auto;
}